DJANGO_SECRET_KEY=changeme
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=perfume_dev
POSTGRES_USER=perfume
POSTGRES_PASSWORD=perfume
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
