# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Django files
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
*.mo

# Editor stuff
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS
.DS_Store
Thumbs.db

# Git
*.orig

# Python env
.env
.env.*
!.env.example 
!env.template
.env.production

# Coverage / test
.coverage
htmlcov/
.tox/
.pytest_cache/
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Docker-specific
.dockerignore
docker-compose.override.yml
*.pid

# Build / packaging
dist/
build/
*.egg-info/

# Project notes
project-structure.txt

node_modules/

**/migrations/*.pyc
**/migrations/__pycache__/
