# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Django files
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Editor stuff
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS
.DS_Store
Thumbs.db

# Git
*.orig

# Python env
.env
.env.*

# Coverage / test
.coverage
htmlcov/
.tox/
.pytest_cache/
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
project-structure.txt

# Migrations (optional, if you recreate them per env)
**/migrations/*.pyc
**/migrations/__pycache__/
